<% if current_user.nil? %>
<h1 style="color:green">Please sign in</h1>
<p>We'd like to welcome you!</p>
<% else %>
<h1 style="color:green">Welcome!</h1>
<p>Thanks for logging into our portal</p>
<% end %>